<!DOCTYPE html>
<html>
    <head>
        <title>Price Page</title>
    </head>
    <body>
        <h1>Price</h1>
        <p>The price for an item of type <%= choice %> with weight <%= weight %> is: <br/> $<%= price %></p>
    </body>

</html>