<!DOCTYPE html>
<html>
<head>
  <title>Postal Rate Calculator</title>
</head>
<body>
    <form action="/rates" method="get">
        Hit the endpoint!<br/>
        <input type="submit" value="Calculate!" name="submit">
    </form>
</body>
</html>