<!DOCTYPE html>
<html>
<head>
  <title>Postal Rate Calculator</title>
</head>
<body>
    <form action="/shop/items" method="get">
        Hit the item endpoint!<br/>
        <input type="submit" value="Fetch!" name="submit">
    </form>
    <form action="/shop/users" method="get">
        Hit the users endpoint!<br/>
        <input type="submit" value="Fetch!" name="submit">
    </form>
</body>
</html>